In [4]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine
import urllib

server = open("../sicrits/.server_name").read()
database = open("../sicrits/.database_name").read()
username = open("../sicrits/.username").read()
password = open("../sicrits/.pdub").read()

# create engine
params = urllib.parse.quote_plus(r'Driver={ODBC Driver 17 for SQL Server};Server=tcp:'+server+',1433;Database='+database+';Uid='+username+';Pwd='+password+';Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine_azure = create_engine(conn_str,echo=False)

In [5]:
# query db
query = "SELECT TOP 2 * FROM Crime.cobra21_raw;"
pd.read_sql(query, con=engine_azure)

,id,offense_id,rpt_date,occur_date,occur_day,occur_day_num,occur_time,poss_date,poss_time,beat,zone,location,ibr_code,UC2_Literal,neighborhood,npu,lat,long
0,1,21140096,5/20/2021,5/19/2021,Wednesday,4,15:20,5/19/2021,15:25,103,1,"1720 MARIETTA BLVD NW\nATLANTA, GA 30318\nUNIT...",23F,LARCENY-FROM VEHICLE,Hills Park,D,33.8017,-84.4365
1,2,21282015,8/6/2021,8/6/2021,Friday,6,22:23,8/6/2021,22:24,508,5,"300 PEACHTREE ST NE\nATLANTA, GA 30308\nUNITED...",23F,LARCENY-FROM VEHICLE,Downtown,M,33.7625,-84.3879

In [ ]:
# write data to database
# df.to_sql('cobra21_raw', con=engine_azure,
#           schema="Crime",
#           if_exists='append',
#           index=False
#          )